Serveur/RoutingServeur/RoutingServeur/Connected Services/ProxyService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/routing_serveurSOAP/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/routing_serveurSOAP" />
  <xs:element name="GetStationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/routing_serveurSOAP" minOccurs="0" name="GetStationInfoResult" nillable="true" type="q1:JCDecauxStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListContract">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/routing_serveurSOAP" minOccurs="0" name="GetListContractResult" nillable="true" type="q2:ArrayOfJCDecauxContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/routing_serveurSOAP" minOccurs="0" name="GetListStationsResult" nillable="true" type="q3:ArrayOfJCDecauxStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/routing_serveurSOAP" minOccurs="0" name="GetStationsResult" nillable="true" type="q4:ArrayOfJCDecauxStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>