Serveur/RoutingServeur/RoutingServeur/Connected Services/ProxyService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/routing_serveurSOAP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/routing_serveurSOAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JCDecauxStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="position" nillable="true" type="tns:Position" />
      <xs:element minOccurs="0" name="totalStands" nillable="true" type="tns:TotalStands" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDecauxStation" nillable="true" type="tns:JCDecauxStation" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="TotalStands">
    <xs:sequence>
      <xs:element minOccurs="0" name="availabilities" nillable="true" type="tns:Availabilities" />
      <xs:element minOccurs="0" name="capacity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TotalStands" nillable="true" type="tns:TotalStands" />
  <xs:complexType name="Availabilities">
    <xs:sequence>
      <xs:element minOccurs="0" name="bikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalInternalBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalRemovableBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="mechanicalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="stands" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Availabilities" nillable="true" type="tns:Availabilities" />
  <xs:complexType name="ArrayOfJCDecauxContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JCDecauxContract" nillable="true" type="tns:JCDecauxContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJCDecauxContract" nillable="true" type="tns:ArrayOfJCDecauxContract" />
  <xs:complexType name="JCDecauxContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDecauxContract" nillable="true" type="tns:JCDecauxContract" />
  <xs:complexType name="ArrayOfJCDecauxStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JCDecauxStation" nillable="true" type="tns:JCDecauxStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJCDecauxStation" nillable="true" type="tns:ArrayOfJCDecauxStation" />
</xs:schema>